BasedOnStyle:  Google

Language:        Cpp
AccessModifierOffset: -4 
AllowShortFunctionsOnASingleLine : false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackParameters: false
BreakBeforeBinaryOperators: true
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: true
ColumnLimit:     100
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerBinding: false
IndentCaseLabels : false
IndentWidth:     4
PenaltyBreakComment: 100
SortIncludes: true
SortUsingDeclarations: false
SpacesInSquareBrackets: true
TabWidth:        4
Standard:        c++17